ion-content.backImage {
    background: url(../assets/imagens/fundo.jpg);
    background-size: cover;
    
}
.backImage .scroll-content {
    background: rgba(27, 13, 14, 0.568) !important;
}

.list-transparent .item {
    background: transparent !important;
}
.list.list-transparent  .item-input:last-child {
    border-bottom: none !important;
}
.ts {
    border-bottom: 1px solid white !important;
}

.logo {
    width: 100%;
    text-align: center;
    margin-top: 9%;
    
}
.logo img {
    width: 150px;
}
.logo span {
    color: rgb(233, 212, 25);
    text-shadow: 0.2em 0.2em 0.06em #333;
    font-size: 2.9rem;
    text-align: center;
    display: block;
    font-weight: bold;
}



// animation



.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
   justify-content: center;
   background: #FF7400;
   }
   .spinner {
       width: 40px;
       height: 40px;
       background-color: rgb(219, 185, 177);
     
       margin: 100px auto;
       -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
       animation: sk-rotateplane 1.2s infinite ease-in-out;
     }
     
     @-webkit-keyframes sk-rotateplane {
       0% { -webkit-transform: perspective(120px) }
       50% { -webkit-transform: perspective(120px) rotateY(180deg) }
       100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
     }
     
     @keyframes sk-rotateplane {
       0% { 
         transform: perspective(120px) rotateX(0deg) rotateY(0deg);
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
       } 50% { 
         transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
         -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
       } 100% { 
         transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
         -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
       }
   
   
     }
     * { 
       overflow-y: hidden !important; 
       overflow-x: hidden !important; 
   }